/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--ifm-background-color);
  font-family: Montserrat, sans-serif;
  padding: 0 20px;
}

.header {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
}

.main {
  text-align: center;
  z-index: 99999;
}

.blogButton {
  color: var(--text--secondary);
}

.staticText {
  margin: 0;
  font-size: 1.2rem;
  color: var(--text--secondary);
}

.typingAnimation {
  font-size: 3rem;
  display: inline-block;
  color: var(--text--secondary);
  border-right: 2px solid var(--text--secondary);
  white-space: nowrap;
  overflow: hidden;
  animation: typing 7s steps(15, end) infinite,
    blink-caret 0.5s step-end infinite;
}

@media (min-width: 768px) {
  .staticText {
    font-size: 2rem;
  }
  .typingAnimation {
    font-size: 6rem;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 12ch; /* Adjust based on the length of your text */
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--text--secondary);
  }
}
